{% extends "skeleton/_root.html" %}{% block all %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <!--[if IE]><script src="../j/html5.js"></script><![endif]-->
    {% block meta_tags %}
    <meta name="description" content="{{ site.name }}: Your site description.">
    <meta name="keywords" content="">
    {% endblock %}
    {% block feeds %}
    <link href="{{ site.url }}/archive/atom.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml"/>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{{ site.url }}/media/css/normalize.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/media/css/base.css" type="text/css" media="screen" charset="utf-8">
    {% block extra_css %}{% endblock %}
    {% endblock %}
    {% block js %}
    <script src="{{ site.url }}/media/js/jquery-1.4.2.min.js"></script>
    {% block extra_js %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="/media/favicon.ico" />
{% include "stats.html" %}
</head>

<body>
<div id="site">
<header>
{% include "skeleton/_header.html" %}
</header>

{% block content %}{% endblock %}
</div>

<footer>
{% include "skeleton/_footer.html" %}
</footer>

</body>
</html>
{% endblock %}
