/* ============================== */
/*   Layout for desktop version   */
/* ============================== */

body {
 font: 500 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
 /*text-shadow: #999 0 0 2px;*/
 color: #222;
 background: #ddddf0 url(bg.png) repeat fixed;
 line-height: 32px;
}

h1, h2, h3, h4, #sitename, dt {
 font-family: 'Bevan', Georgia, serif;
 font-weight: 500;
 line-height: 1.3;
 text-shadow: #888 2px 2px 12px;
 letter-spacing: 1px;
 line-height: 1.0em;
 color: #333;
 margin: 0;
 padding: 0.75em 0;
}

#sitename {
 display: block;
 text-align: center;
 font-size: 550%;
 letter-spacing: 4px;
 text-shadow: #ddd 1px 1px 2px, #666 2px 2px 12px;
 text-decoration: none;
 color: black;
 padding: 0.25em 0 0.5em 0;
}

a#sitename:hover {
 text-shadow: #aaa 1px 1px 1px, #666 2px 2px 3px;
}

h1 {
 font-size: 2.0em;
}

h2 {
 font-size: 1.5em;
}

h3, dt {
 font-size: 1.25em;
}

h4 {
 font-size: 1.125em;
}

a,
a:visited {
 color: #B22222;
}

.page-listing article header,
p {
 margin-bottom: 13px;
}

#header {
 text-align: center;
 padding: 6em 0 2.5em 0;
}

#header #sitename {
 font-size: 4.0em;
 letter-spacing: 8px;
}

#header a {
 text-decoration: none;
}

dd {
  padding-bottom: 0.75em;
}

dt a,
dt a:visited {
 color: #445;
 text-decoration: none;
 text-shadow: #fff 1px 1px 1px, #999 2px 2px 12px;
 border-bottom: 1px dotted #999;
}
 
dt a:hover {
 border-bottom: 1px dotted #b22222;
}

.pubdate time {
 display: inline-block;
 background-color: #e8e8e8;
 padding: 2px 8px;
 font-size: 0.7em;
 letter-spacing: 2px;
}

a.year { text-decoration: none; }

a.year h2 {
 display: block;
 width: 100%;
 background-color: #e8e8e8;
 text-align: center;
 margin: .5em 0;
 padding: .25em 0;
 letter-spacing: 12px;
}

a.listing {
 text-decoration: none;
}

.listing {
 padding: 1em 2em 0.25em 2em;
 margin-bottom: 0.5em;
 border-top: 1px solid #babeba;
}

.continue { text-align: right; }

ul.sitenav {
 font: 500 48px/2.0 'Bevan', Georgia, serif;
 list-style-type: none;
 line-height: 1.6em;
 position: fixed;
}

.sitenav a {
 text-decoration: none;
 color: #99a;
 text-shadow: #fff 1px 1px 1px, #999 2px 2px 12px;
}

.sitenav a:hover {
 text-shadow: #fff 1px 1px 1px, #999 2px 2px 4px;
}

#content-header{
 padding-bottom:.5em;
}

#content-header h1{
 font-size: 1.75em;
}

#post-content {
  min-height: 480px;
}

.post-date time {
 float: right;
 color: #99a;
 font-weight: bold;
 font-size: 0.8em;
 margin-top: -24px;
}

.readable {
 float: right;
 margin-top: -42px;
}

p.archivelink {
 display: block;
 width: 100%;
 background-color: #e8e8e8;
 text-align: center;
 margin: 1.0em 0;
 padding: 4px 0;
}

div.footnotes {
 font-size: 16px;
 color: #444;
}

#footer {
 text-align: center;
 border-top: 1px solid #babeba;
 margin: 2em auto 0;
 font-size: 0.7em;
}

sub,
sup {
 line-height: 0;
 padding-left: 2px;
}

sup a,
sup a:visited {
 color: #B22222;
 text-decoration: none;
}

sup a:hover {
 text-decoration: underline;
}

blockquote {
  background: #eef;
  border-left: 10px solid #ccd;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccd;
  content: '\201C';
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}

blockquote p {
  display: inline;
}

textarea,
code,
pre {
 font-family: 'Ubuntu Mono', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace!important;
 font-size: 16px;
 background: #e8e8e8;
}

code {
 padding: 6px 3px 4px 3px;
}

pre code {
 padding: 0;
}

pre {
 padding: 15px 30px; 
 margin: 15px -30px;
 line-height: 1.3;
 overflow-x: auto;
}

ul,
ol {
 margin:0 1.5em 1.5em 0;
 padding-left:1.5em;
}

hr {
 margin: 1.5em 0;
}

#disqus_thread {
 font-size: 1.0em;
}

#disqus_thread h3 {
 font-size: 1.2em;
}

.see-also {
 font-size: smaller;
 color: #444;
 background-color: #e8e8e8;
 border: 1px solid #444;
 padding: 0 32px;
 margin: 24px auto;
 width: 85%;
}

div#action {
 border: 1px solid #babeba;
 padding: 15px 30px; 
 margin: 60px -30px 15px -30px;
 font-size: 0.85em;
 color: #666;
}

div#action h2 {
 color: #999;
 text-align: center;
}

/* ============================= */
/*   Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 800px) {

#sitename {
 text-align: left;
 font-size: 64px;
 letter-spacing: 4px;
 text-shadow: #666 2px 2px 12px, #bbb 2px 2px 24px;
 text-decoration: none;
 color: black;
 padding: 8px 0 96px 24px;
}

ul.sitenav {
 font: 500 28px/2.0 'Bevan', Georgia, serif;
 list-style-type: none;
 line-height: 2.5em;
 position: absolute;
 top: 80px;
 left: 24px;
 padding: 0;
}

ul.sitenav li {
  display: block;
  float: left;
}

li.home {
 display: none;
}

.sitenav a {
 display: block;
 text-align: left;
 width: 116px;
 text-decoration: none;
 color: #aab;
 text-shadow: #fff 0 0 4px, #aab 2px 2px 12px;
}

.sitenav a:hover {
 color: #666;
 text-shadow: #fff 0 0 2px, #aab 2px 2px 12px;
}

h1 {
 font-size: 1.5em;
}

h2 {
 font-size: 1.25em;
}

h3, dt {
 font-size: 1.125em;
}

h4 {
 font-size: 1.0em;
}
}
