{% extends "_about.html" %}

{% hyde
    title: "Current status: happily and profitably employed"
%}

{% block article %}

My current position is **Web Infrastructure Manager** at [Top Floor Technologies][topfloor] in New Berlin, Wisconsin. I am managing website hosting and contract systems administration, back-end programming, and application development. Top Floor focuses on B2B websites (with some B2C), SEO and SEM contracts, and electronic marketing. [Contact me there][tfemail] for more information. I don't do sales, project management, or customer service (yes, I like this job!) but I do support nearly a dozen talented people who provide those customer-centric services, and I would be thrilled to introduce you to them.

I also support projects and services at [Quintessential Mischief LLC][qmllc], my wife's company. Talk to her about web strategy, search optimization, usability, accessability, and social media. I highly recommend her on objective (as well as subjective) terms. **She fights for the user**.

Under *extremely rare* circumstances, I may be available for consultation about your project. [My résumé is available online][resume] and you can [email me](mailto:rob@version2beta.com).

[rob@version2beta.com](mailto:rob@version2beta.com) - or -<br />
tweet at [@version2beta](http://twitter.com/#!/version2beta) - or -<br />
just call me, 414-678-1822.

[topfloor]: http://www.topfloortech.com/ "Top Floor Technologies. Web strategy for business."
[tfemail]: mailto:rmartin@topfloortech.com
[qmllc]: http://www.qmuxs.com "Quintessential Mischief LLC fights for the users"
[^modx]: [MODX][] is a competent PHP-based Content Management System ("CMS") plus Application Framework ("AF"). As an organization, MODX Systems LLC has been growing quickly, especially in the last two years, following a "commercial open source" business model. I've been developing in MODX since 2007.
[modx]: http://modx.com/ "MODX content management framework."
[^php]: [PHP][] is perhaps the most popular and widespread server-side scripting language for building dynamic web sites. Many people can write PHP, some of them can write it well. 
[php]: http://php.net/ "PHP project home."
[^mysql]: [MySQL][] is a database engine &mdash; more specifically a relational database management system ("RDBMS") &mdash; that is typically available without cost and is widely used in web development. MySQL and MySQL Enterprise are products of Oracle.
[mysql]: http://www.mysql.com/ "Oracle / MySQL database."
[^python]: [Python][] is a general purpose high level programming language, often used to develop networked applications, and protected by the non-profit Python Software Foundation.
[python]: http://python.org/ "Official website of the Python programming language."
[^postgres]: [PostgreSQL][postgres], often just called Postgres, is an Object Relational Database Management System ("ORDBMS") widely used in commercial and open source application development, released under an MIT-style open source license, and protected by the non-profit PostgreSQL Global Development Group. 
[postgres]: http://www.postgresql.org/ "The world's most advanced open source database."
[^tryton]: [Tryton][] is an open source enterprise resource planning ("ERP") development platform, written in Python and running against a PostgreSQL database. The Tryton community is in the process of forming the Tryton Software Foundation to protect the free and open nature of the project.
[tryton]: http://www.tryton.org/en/ "Tryton ERP"
[^django]: [Django][] is an open source web application framework written in Python and running against a PostgreSQL or other open source database. The non-profit Django Software Foundation has been formed to promote, support, and advance the Django web framework project.
[django]: https://www.djangoproject.com/ "Django is the web framework for perfectionists with deadlines."
[^flask]: [Flask][] is a Python-based, open source microframework for developing web applications. It can be used independently, or in conjunction with various databases and object-relational mapping applications such as Django and Tryton.
[flask]: http://flask.pocoo.org/ "Flask is a BSD licensed microframework for Python."
[^twisted]: [Twisted][] is an event-driven network programming framework written in Python that can be used to create other programs (especially networked programs) efficiently and securely.
[twisted]: http://twistedmatrix.com/ "Twisted is an event-driven networking engine written in Python."
[resume]: http://version2beta.com/hire/resume.html "Résumé of M. Robert Martin, a/k/a version2beta"


{% endblock %}


