{% extends "base.html" %}
{% block title %}{{ page.pagetitle }} | version2beta{% endblock %}

{% block content %}
<div id="content-header">
  <h1>{{ page.pagetitle }}</h1>
  <p class="post-date"><time pubdate>{{ page.published.strftime('%Y-%m-%d at %H:%M') }}</time></p>
</div><!-- #content-header -->
<div id="post-content">
  {{ page.content|safe }}
  <h3>Talk back to me</h3>
  <p>You can comment below. Or <a href="http://www.twitter.com/#!/version2beta" title="version2beta on twitter">tweet at me</a>. I'm always open to a good conversation.</p>
</div>  <!--end post-content-->

<div id="disqus_thread"></div><!-- #disqus_thread -->
<script type="text/javascript">
  var disqus_shortname = 'version2beta';
  var disqus_identifier = '/{{ page.filename }}';
  var disqus_url = 'http://version2beta.com/{{ page.filename }}';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
