<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}version2beta{% endblock %}</title>
    <!--[if IE]><script src="../j/html5.js"></script><![endif]-->
    {% block meta_tags %}
    <meta name="description" content="version2beta: A technical blog.">
    <meta name="keywords" content="">
    {% endblock %}
    {% block feeds %}
    <link href="/archive/atom.xml" rel="alternate" title="version2beta" type="application/atom+xml"/>
    {% endblock %}
    {% block css %}
    <!--link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="screen"-->
    <link rel="stylesheet" href="/static/css/1140.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/notes.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/pygments.css" type="text/css" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
    {% block extra_css %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
<div id="site">
  <div class="row">
    <div id="content-header">
      <h1>{{ page.pagetitle }}</h1>
      <p class="post-date"><time pubdate>{{ page.published.strftime('%Y-%m-%d at %H:%M') }}</time></p>
      <p class="readable"><a href="/{{ page.name }}/" title="Regular version">Regular version</a></p>
    </div><!-- #content-header -->
    <div id="post-content">
      {{ page.content|safe }}
    </div>  <!--end post-content-->
    <p class="readable"><a href="/{{ page.name }}/" title="Regular version">Regular version</a></p>
  </div>
</div><!-- #site -->

<footer>
<div id='footer'>
  <p>general: <a href="mailto:rob@version2beta.com">rob@version2beta.com</a> | twitter: <a href="http://twitter.com/version2beta" title="version2beta is on Twitter">@version2beta</a></p>
  <p>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
  </p>
  <p><a href="/atom.xml" title="A news feed for my blog"><img src="/static/css/rss32p.png" alt="RSS feed icon" /></a></p>
</div>
</footer>

{% block js %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12023701-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/static/js/css3-mediaqueries.js"></script>
{% block extra_js %}{% endblock %}
{% endblock %}
</body>
</html>
