{% extends "_about.html" %}

{% hyde
    title: "hire me!"
%}

{% block article %}

Interested in working with me? Oh good. I was hoping someone reading this might like to pay me for what I can do, rather than just read about it for free.

**Professional**: I work best with the supports that come from a well-run company, so much of the work I do runs through [Quintessential Mischief LLC](http://qmuxs.com). We make systems. Many of them run on computers, but a good portion run on meat-ware too.

**Freelance**: I'm available only under limited circumstances. Generally I determine what these circumstances are on a case-by-case basis, in cooperation with my employer. I don't like my employer to think I'm competing with her. It's not good for our marriage.

[My résumé is available online.][resume]

**Call, write, tweet**: Get in touch. I'd be happy to discuss your project, talk about what if anything we might add to your team, and how we might make that happen for you. 

[rob@qmuxs.com](mailto:rob@qmuxs.com) - or -<br />
[rob@version2beta.com](mailto:rob@version2beta.com) - or -<br />
tweet at [@version2beta](http://twitter.com/#!/version2beta) - or -<br />
just call me, 414-678-1822.

[resume]: http://version2beta.com/hire/resume.html "Résumé of M. Robert Martin, a/k/a version2beta"

{% endblock %}


