{% extends "_about.html" %}

{% hyde
    title: "Currently available 10 - 25 hours per week"
%}

{% block article %}

I'd like to work with you, doing application development, systems administration, devops, or product development. I am competent with MODX,[^modx] PHP,[^php] and MySQL.[^mysql] Somewhat more rare, I also work with Python,[^python] PostgreSQL,[^postgres] Tryton ERP,[^tryton] Django,[^django] Flask,[^flask] and Twisted.[^twisted]

**Project-based work:** I work best with the supports that come from a well-run company familiar with the management of IT and web application development projects. If that doesn't describe your company, it's not a problem: we can run your project through [Quintessential Mischief LLC](http://qmuxs.com). QM builds business systems. Many of them run on computers, but a good portion run on meat-ware too. My wife owns QM and I am always happy to work with her. **Let's talk.**

**Freelance or captive:** If your company does application development, marketing, web development, business systems, IT support, hosting, etc., I am interested in freelancing for you. Under ideal circumstances, I could even be interested in a captive position with your company. **Let's talk.**

Either way, [my résumé is available online.][resume]

**Call, write, tweet**: Get in touch. I'd be happy to discuss your project, talk about what if anything we might add to your team, and how we might make that happen for you. 

[rob@qmuxs.com](mailto:rob@qmuxs.com) - or -<br />
[rob@version2beta.com](mailto:rob@version2beta.com) - or -<br />
tweet at [@version2beta](http://twitter.com/#!/version2beta) - or -<br />
just call me, 414-678-1822.

[^modx]: [MODX][] is a competent PHP-based Content Management System ("CMS") plus Application Framework ("AF"). As an organization, MODX Systems LLC has been growing quickly, especially in the last two years, following a "commercial open source" business model. I've been developing in MODX since 2007.
[modx]: http://modx.com/ "MODX content management framework."
[^php]: [PHP][] is perhaps the most popular and widespread server-side scripting language for building dynamic web sites. Many people can write PHP, some of them can write it well. 
[php]: http://php.net/ "PHP project home."
[^mysql]: [MySQL][] is a database engine &mdash; more specifically a relational database management system ("RDBMS") &mdash; that is typically available without cost and is widely used in web development. MySQL and MySQL Enterprise are products of Oracle.
[mysql]: http://www.mysql.com/ "Oracle / MySQL database."
[^python]: [Python][] is a general purpose high level programming language, often used to develop networked applications, and protected by the non-profit Python Software Foundation.
[python]: http://python.org/ "Official website of the Python programming language."
[^postgres]: [PostgreSQL][postgres], often just called Postgres, is an Object Relational Database Management System ("ORDBMS") widely used in commercial and open source application development, released under an MIT-style open source license, and protected by the non-profit PostgreSQL Global Development Group. 
[postgres]: http://www.postgresql.org/ "The world's most advanced open source database."
[^tryton]: [Tryton][] is an open source enterprise resource planning ("ERP") development platform, written in Python and running against a PostgreSQL database. The Tryton community is in the process of forming the Tryton Software Foundation to protect the free and open nature of the project.
[tryton]: http://www.tryton.org/en/ "Tryton ERP"
[^django]: [Django][] is an open source web application framework written in Python and running against a PostgreSQL or other open source database. The non-profit Django Software Foundation has been formed to promote, support, and advance the Django web framework project.
[django]: https://www.djangoproject.com/ "Django is the web framework for perfectionists with deadlines."
[^flask]: [Flask][] is a Python-based, open source microframework for developing web applications. It can be used independently, or in conjunction with various databases and object-relational mapping applications such as Django and Tryton.
[flask]: http://flask.pocoo.org/ "Flask is a BSD licensed microframework for Python."
[^twisted]: [Twisted][] is an event-driven network programming framework written in Python that can be used to create other programs (especially networked programs) efficiently and securely.
[twisted]: http://twistedmatrix.com/ "Twisted is an event-driven networking engine written in Python."
[resume]: http://version2beta.com/hire/resume.html "Résumé of M. Robert Martin, a/k/a version2beta"


{% endblock %}


