{% extends "_about.html" %}

{% hyde
    title: "Résumé of M. Robert Martin"
%}

{% block article %}

+1 414-678-1822 | [rob@version2beta.com][] | [@version2beta][] 

Located in Milwaukee, Wisconsin USA

## Objective
 
Currently pursuing project-based contract work or employment up to full time. Areas of interest include devops, web and network applications, especially related to e-commerce and enterprise resource planning.

### Technical competencies

Skilled programmer specializing in database-driven web and network applications. Extensive devops experience. Security experience.

#### Programming:

- PHP[^php] since 1998
- Perl since 1999
- Python since 2009
- Other programming experience going back to 1981 in more than a dozen languages, including
Forth, Pascal, C/C++, assembly language, etc.

#### Database:

- MySQL since 1999
- MS SQL Server 2005 - 2007
- PostgreSQL since 2006

#### Web and web framework:

- HTML[^html], XHTML, CSS[^css] since 1997
- Javascript since 2004
- MODX[^modx] since 2007
- Django[^django], Hyde[^hyde], Flask[^flask] since 2011

#### Systems and network administration:

- Linux, primarily Debian-based, since 1996
- OpenBSD[^openbsd] and FreeBSD, since 2000
- Firewalls and VPNs, including pf[^pf] since 2000, OpenVPN[^openvpn] since 2003, and pfSense[^pfsense] since 2010
- Server clustering, including DR:BD[^drbd], Linux Heartbeat[^linux-ha], Pacemaker[^pacemaker], and iSCSI[^iscsi]
- Cloud computing, including Amazon Web Services[^aws] including EC2, S3, and CloudFront; Linode[^linode] virtual private servers; and Rackspace Cloud Servers[^rackspace]

#### Enterprise Resource Planning platforms:

- OpenERP[^openerp] since 2009
- Tryton[^tryton] since 2011

### Notable contracts (2008 – present)

- Rand Corp/Club Car (2008): Wrote the technical specification for Rand Corp's “second generation web
presence”, based on Microsoft SharePoint Server.
- Huth Benders Inc. (www.huthbenders.com)[^huth] (2010): Created the information architecture, wireframes,
UX programming, and complete implementation in MODX content management framework.
- Accunet Mortgage (www.accunet.com)[^accunet] (2008 - present): Security programming, site redesign including
information architecture, wireframes, look-and-feel, extensive form design, Goldmine Enterprise
integration, implemented in MODX with additional custom programming. Currently contracted to
redeploy the site on a high-availability, high-security server cluster.
- Fresh Is Best, Inc. (www.freshisbestinc.com)[^fresh] (2010 - present): Information architecture, look-and-feel,
UX, some copy editing, e-commerce implementation in Google Checkout, implementation in MODX.

### Positions held (2000 – present)

- Application Architect (2007 – present), Quintessential Mischief LLC[^qmuxs], Milwaukee, Wisconsin: I
founded this company with my wife (who specializes in usability, accessibility, search optimization,
and community-building) and primarily perform application programming and system administration,
with some basic website and other design work.
- Owner (2009 – present), Version2beta LLC, Milwaukee, Wisconsin: I formed this as a vehicle for
contract systems and network administration work, primarily Linux workstations, company firewalls,
and local servers. I also perform occasional odd jobs such as disinfecting websites and servers,
server migrations, and top-tier technical support for other small tech and internet hosting companies
in the Milwaukee area.
- Director of Information Technology (2002 – 2007), KeyBridge Group Inc.,[^keybridge] Waukesha, Wisconsin: I
served as head technology person for a largish ($750,000,000) real-estate developer in SE Wisconsin.
Implemented Lotus Notes and Domino Server (2003) and Microsoft Exchange and Project (2006), among many other projects.
- Co-owner (2000 – 2002), CedarNet LLC,[^cedarnet] Waukesha, Wisconsin: I was primary technical partner, but
also participated in most business decisions, for this local ISP providing dial-up internet access, email,
and web hosting.
- Prior to 2000, most of my positions were industrial, both in project work (built controls for a robotic
laser welder, automated a molten salt heat treating line, designed the controls and driver interface for
an experimental electric car battery system) or product management for industrial equipment
(including marketing and sales channel management.)

*Educational background and references available on request.*

*Willing to travel occasionally and work remotely as needed.*

[rob@version2beta.com]: mailto:rob@version2beta.com "Click to open a new email message to Rob"
[@version2beta]: http://www.twitter.com/#!/version2beta "version2beta on Twitter"

[^php]: I scored 9 out of 10 for an 'Expert' performance, but only 85th percentile, on [ExpertRating.com][expert] PHP5 test. My lowest scores were in variables and data types, and advanced concepts, but scored perfect in syntax and PHP5 new concepts. At any rate, I'll be brushing up on variables and data types. You can see the [PDF of my report][php].
[php]: /media/site/expert-rating-php5.pdf "PDF of my test results for PHP5."
[^html]: I scored 9 out of 10 on HTML 4.01 too. That's also 'Expert' performance according to the testing company. I got perfect scores on 4 out of 6 areas (advanced tags, forms and frames, fundamentals, links and images) but scored only 'average' and 'good' on tables and tags, respectively. They show me at the 95th percentile among everyone taking the test. [PDF of my report][html].
[html]: /media/site/expert-rating-html4-01.pdf "PDF of my test results for HTML4.01."
[^css]: For CSS2.1, I scored 9 out of 10 and 'Expert' at [ExpertRating.com][expert]. Highest scores in advanced techniques, page media, text and font styles; lower scores in basic styles, fundamentals, and selectors. [PDF report][css].
[css]: /media/site/expert-rating-css2-1.pdf "PDF of my test results for CSS2.1."
[expert]: http://www.expertrating.com/employers/employers.html "ExpertRating.com page for employers."
[^modx]: [MODX][] is a PHP-based content management system, originally a fork of Etomite but now a powerful and broadly useful development framework that also provides a user-friendly content manager. MODX was my CMS of choice from 2007 to 2010.
[modx]: http://modx.com "MODX content management framework"
[^django]: [Django][] is an open-source MVC web application framework written in Python with powerful ORM ("object-relational mapper", a way to store programming objects in a database). It's designed for creating complex, database-driven websites efficiently. In fact, their motto is "The web framework for perfectionists with deadlines." I think they know something about deadlines, since Django comes from the news industry. The World Company originally developed it, but it's also used by the [New York Times][nyt], [Washington Post][wp], the [Guardian][], and hundreds of other newspapers. It's also used by [Disqus][], which powers the comments on my blog as well as nearly a million other websites and serves nearly a billion visitors a month. 
[django]: http://www.djangoproject.com "Django makes it easier to build web applications quickly and with less code."
[nyt]: http://www.nytimes.com/ "The New York Times"
[wp]: http://www.washingtonpost.com/ "The Washington Post"
[guardian]: http://www.guardian.co.uk/ "The Guardian"
[disqus]: http://disqus.com/ "Disqus discussion platform"
[^hyde]: [Hyde][] runs my site. It's a static site generator &mdash; that means it makes static web pages from templates and content, and Hyde does it using the Django engine and templates. It's not for every site, but when it's right, it's very right.
[hyde]: https://github.com/lakshmivyas/hyde "Hyde static site generator using Django"
[^flask]: The first thing one might notice about [Flask's website][flask] is that it inspired my simple blog design. Flask is a Python-based web application micro-framework, which means it's infrastructure and tools for building small and medium web applications. I'm beginning to use Flask for projects where Django is overkill.
[flask]: http://flask.pocoo.org/ "Python microframework based on Werkzeug, Jinja 2 and good intentions"
[^openbsd]: [OpenBSD][] is considered by many (including me) to be the most secure operating system available to the public. There are stories here. Suffice to say that OpenBSD founder Theo de Raadt is one of my heroes.
[openbsd]: http://www.openbsd.org "OpenBSD operating system"
[^pf]: [pf][] is the nuts and bolts of a secure firewall. Written by Daniel Hartmeier and maintained now by the entire OpenBSD team, it is the most powerful tool I've used for building custom firewalls. Up until I began using pfSense last year, every firewall I built was custom, based on OpenBSD and pf.
[pf]: http://www.openbsd.org/faq/pf/ "OpenBSD pf FAQ"
[^openvpn]: [OpenVPN][] provides point-to-point and site-to-site virtual private networks, secured and encrypted using strong industry practices, relatively easy and efficient to implement, and open-source.
[openvpn]: http://openvpn.net/ "Open-source virtual private networking software"
[^pfsense]: [pfSense][] is a prepackaged firewall and router than runs on commodity (and specialty) PC hardware. Before I started using pfSense I built very similar systems from scratch using OpenBSD and pf. pfSense, however, makes the interface much more friendly and deployment more efficient. However, it's not based on OpenBSD; it uses OpenBSD's packet filter on a FreeBSD platform.
[pfsense]: http://www.pfsense.org "Free, open-source firewall and router based on Daniel Hartmeier's/OpenBSD's packet filter"
[^drbd]: [DRBD, or "Distributed Replicated Block Device"][drbd] creates a RAID-1 mirrored hard drive across two or more computers on a network. This is incredibly useful for building failover clusters.
[drbd]: http://www.drbd.org "DR:BD network RAID software"
[^linux-ha]: The [Linux High Availability Project][linux-ha] has been writing solid code for running Linux-based clusters since 1999. Their heartbeat program provides the communication infrastructure that allows clustered computers to work together.
[linux-ha]: http://www.linux-ha.org "The Linux High Availability Project."
[^pacemaker]: [Pacemaker][] is a resource management tool for Linux High Availability clusters.
[pacemaker]: http://www.clusterlabs.org/ "Cluster Labs runs the Pacemaker open-source project"
[^iscsi]: iSCSI is "Internet SCSI", or "Internet Small Computer Systems Interface". It's a way to provide SCSI block devices across a network, and powerful tool for creating a cost-effect Storage Area Network. The [Wikipedia article on iSCSI][iscsi] provides a more comprehensive write-up.
[iscsi]: http://en.wikipedia.org/wiki/ISCSI "Wikipedia article on iSCSI"
[^aws]: [Amazon Web Services][aws] arguably offer the broadest, most scalable virtual hosting product line in the market. I've used more distinct AWS products one one project than most VPS companies offer in total.
[aws]: http://aws.amazon.com "Amazon Web Services"
[^linode]: We have had virtual private servers at [Linode][] since 2008, which is not very long when you consider they started in 2003 - 3 years before Amazon and others came to the market. I've been uniformly satisfied with the performance of our equipment, and have written several how-to's about hosting at Linode, especially regarding high-availability services. One of the things I particularly enjoy about Linode is that they now have 5 datacenters, 4 in the US and 1 in England. Each datacenter also hosts DNS, so my hosting business is now represented internationally. Some day I'll have to come up with a reason to get whole servers in the London data center.
[linode]: http://www.linode.com "Linode is Linux Node"
[^rackspace]: I don't have a lot of experience with [Rackspace Cloud][rackspace] yet, as I've only had two servers there and it was so effortless I had little opportunity to gain experience. But you know what they say: "Experience is what you get when you don't get what you want." 
[rackspace]: http://www.rackspace.com/cloud/cloud_hosting_products/ "Rackspace Cloud hosting products."
[^openerp]: [OpenERP.com][openerp]. I consult on existing and planned OpenERP deployments.
[openerp]: http://www.openerp.com "OpenERP SA"
[^tryton]: I list Tryton as an ERP package, and believe that it is. However, it's also a business application development platform. See [Tryton.org][tryton] for more information about this community-driven open-source ERP package. Also, I've written several articles on this site about the software.
[tryton]: http://tryton.org "Tryton is a complete business solution development platform providing modularity, scalability and security."
[^huth]: [Huth Bender's][huth] website is, so far, the most "designed" site I've worked on &mdash; a great example of design within UX.
[huth]: http://www.huthbenders.com "Huth Benders automotive pipe bending equipment"
[^accunet]: It is always a pleasure to work with [Accunet Mortgage][accunet]. The Chief Honesty Officer's title is no gimmick. It's like the olden days, when there was no one more trustworthy than the owner of the local bank.
[accunet]: http://www.accunet.com "Accunet Mortgage offers mortgages in Wisconsin, Illinois, Minnesota, and Florida."
[^fresh]: [Fresh Is Best Inc.][fresh] is a gem of a small business in Milwaukee's Riverwest Business District. They make raw dog food, frozen and freeze dried. Our dogs have been known to balance a piano on their noses for a Fresh is Best [freeze-dried duck heart][fddh].
[fresh]: http://www.freshisbestinc.com "Fresh is Best Inc., raw and freeze-dried dog food and treats"
[fddh]: http://www.freshisbestinc.com/products/pet-treats-chews/freeze-dried-duck-heart-bites "Freeze-dried duck heart bites."
[^qmuxs]: [Quintessential Mischief LLC][qmuxs] was not originally intended to be the name by which we were generally known. When we first started, we had an idea that I'd do business as Version2beta and she'd do business as Senvara LLC, the company she owned when we married. As it turned out, that lasted only a few weeks. Later, like many couples in business together, we had challenges deciding how we would make decisions related to the business. We ended up compromising: she is now full owner and I am an employee, and we are happy to work together. Some day we hope to build out our own website too.
[qmuxs]: http://www.qmuxs.com "Quintessential Mischief LLC builds business systems."
[^keybridge]: Like many real estate developers, KeyBridge fell to the recession in 2008.
[^cedarnet]: CedarNet LLC has been sold multiple times since I was part owner. However, my business partner, Joe Kletch, now owns and manages [Mulehill Networks LLC][mulehill] and still offers the same high-quality customer service for web and email hosting clients throughout the U.S.
[mulehill]: http://www.mulehill.com "Mulehill Network Services LLC"

{% endblock %}
